.home-section-one {
  background-image: url("img/home.img/home-jumbotron.jpg");
  background-size: cover;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 130px;
}

.jumbotron-p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 17px;
  padding: 40px 20px 0px 20px;
  font-weight: normal;
  line-height: 30px;
}

.navbar-toggler {
  position: relative;
  right: 10px;
  top: 10px;
  z-index: 1100;
}

.contact-link {
  border: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #69b3b8;
  padding: 4px 15px 4px 15px;
  border-radius: 25px;
  font-size: 15px;
  margin-top: 5px;
  text-decoration: none;
  margin-bottom: 270px;
}

.home-section-two {
  background-image: url("img/home.img/intro-background.jpg");
  background-size: cover;
}

.intro {
  margin-top: 200px;
}

.intro-p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  padding-top: 40px;
  font-weight: normal;
  line-height: 30px;
}

.intro-button {
  border: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #69b3b8;
  padding: 4px 15px 4px 15px;
  border-radius: 25px;
  font-size: 15px;
  margin-top: 5px;
  text-decoration: none;
  margin-bottom: 270px;
  max-width: 125px;
}
