.home-section-one {
  background-image: url("img/home.img/home-jumbotron.jpg");
  background-size: cover;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 130px;
}

.jumbotron-p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
  font-weight: normal;
}

.navbar-toggler {
  position: relative;
  right: 10px;
  top: 10px;
  z-index: 1100;
}

.contact-link {
  border: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: black;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  text-decoration: none;
  margin-bottom: 270px;
}
